version: "3.7"

services:
  docker-static:
    container_name: docker-static
    image: lipanski/docker-static-website:latest
    restart: unless-stopped
    ports:
      - "3000:3000" # File will be served at webcal://localhost:3000/wodz.ics
    volumes:
      - /path/to/folder:/home/static:ro

  wodztoics:
    container_name: wodztoics
    image: ghcr.io/montspy/wodz-to-ics:main
    command: "tail -f /dev/null" # Ofelia job-exec requires the container to be running
    volumes:
      - /path/to/folder:/data # Mount webserver shared directory
    environment:
      COOKIE: "wodz_session=<replace with your cookie value>"
      OUTPUT_ICS: /data/wodz.ics # Write to webserver directory
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.fetch-wodz.schedule: "@every 10m"
      ofelia.job-exec.fetch-wodz.container: "wodztoics"
      ofelia.job-exec.fetch-wodz.command: "python ./wodztoics/__init__.py"

  ofelia: # Ofelia container as scheduler
    container_name: ofelia
    image: mcuadros/ofelia:latest
    restart: unless-stopped
    depends_on:
      - wodztoics
    command: daemon --docker
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

